{{ define "main" }}
<article class="cf ph3 ph5-ns pv5 avenir">
    <header class="fn fl-ns w-50-ns pr4-ns">
        <h1 class="f3 mid-gray lh-title">
            {{ .Title }}
        </h1>
        <time class="f6 ttu tracked gray">Sometime before 1967</time>
        
        {{ partial "social-share.html" . }}

        <div class="pa4">
            <div class="overflow-auto">
                <table class="f6 w-100 mw8 center" cellspacing="0">
                    <tbody class="lh-copy">
                        <tr>
                            <td class="pv3 pr3 bb b--black-20">Hassan Johnson</td>
                            <td class="pv3 pr3 bb b--black-20">@hassan</td>
                        </tr>
                        <tr>
                            <td class="pv3 pr3 bb b--black-20">Taral Hicks</td>
                            <td class="pv3 pr3 bb b--black-20">@hicks</td>
                        </tr>
                        <tr>
                            <td class="pv3 pr3 bb b--black-20">Tyrin Turner</td>
                            <td class="pv3 pr3 bb b--black-20">@tt</td>
                        </tr>
                        <tr>
                            <td class="pv3 pr3 bb b--black-20">Oliver Grant</td>
                            <td class="pv3 pr3 bb b--black-20">@oli</td>
                        </tr>
                        <tr>
                            <td class="pv3 pr3 bb b--black-20">Dean Blanc</td>
                            <td class="pv3 pr3 bb b--black-20">@deanblanc</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </header>
    <div class="fn fl-ns w-50-ns">
        <img src="http://tachyons.io/img/under-canvas.jpg" class="mw-100" alt="night sky over water">
    </div>
    <div class="fn fl-ns w-100-ns">
        <p class="f5 lh-copy">
            TYPOGRAPHY, even when poorly executed, can never be taken for granted;
            nor is it ever accidental. Indeed, beauti- fully typeset pages are always
            the result of long experience. Now and then they even attain the rank of
            great artistic achievement. But the art of typesetting stands apart from
            ex- pressive artwork, because the appeal is not limited to a small
            circle. It is open to everyone's critical judgment, and nowhere does this
            judgment carry more weight. Typography that can- not be read by everybody
            is useless. Even for someone who constantly ponders matters of
            readability and legibility, it is difficult to determine whether
            something can be read with ease, but the average reader will rebel at
            once when the type is too small or otherwise irritates the eye; both are
            signs of a certain illegibility already.
        </p>
        <p class="f5 lh-copy">
            {{.Content}}
        </p>
    </div>
</article>
{{ end }}