{{ define "main" }}

{{ $slideshow_js_lib := resources.Get "js/slideshow.js" | minify | fingerprint }}

<script type=module>
    import { SlideshowController } from '{{ $slideshow_js_lib.RelPermalink }}';
    document.addEventListener("DOMContentLoaded", function () {
        let slideshowController = new SlideshowController("slideshowSlides");
        slideshowController.init();
        window._appStructs = { slideshowController };
    });
</script>

<article class="cf ph3 ph6-ns pv4 avenir">
    <header class="fn fl-ns w-50-ns">
        <h1 class="f3 mid-gray lh-title">
            {{ .Title }}
        </h1>
        <time class="f6 ttu tracked gray">{{ time.Format "2 January 2006" .Date }}</time>
        
        {{ partial "social-share.html" . }}

        <div class="pr4">
            <div class="overflow-auto">
                <table class="f6 w-100 mw8 center" cellspacing="0">
                    <tbody class="lh-copy">
                        {{ range $key, $value := .Params.ingredients }}
                        <tr>
                            <td class="pv3 pr3 bb b--black-20 w-80">{{$key}}</td>
                            <td class="pv3 pr3 bb b--black-20 w-20">{{$value}}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>

    </header>
    <div class="fn fl-ns w-50-ns pv4 relative">
        {{ range .Resources.Match "images/slideshow/*" }}
            <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" alt="{{ .Title }}"
                class="mw-100 slideshowSlides" />
        {{ end }}
        <button class="absolute top-2 f6 link dim br-pill ba ph3 pv2 mb2 dib dark-green" onclick="window._appStructs.slideshowController.plusDivs(-1)">&#10094;</button>
        <button class="absolute top-2 right-0 f6 link dim br-pill ba ph3 pv2 mb2 dib dark-green" onclick="window._appStructs.slideshowController.plusDivs(+1)">&#10095;</button>
    </div>
    <div class="fn fl-ns w-100-ns f5 lh-copy">
        {{.Content}}
    </div>
</article>
{{ end }}