{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form
  id="contact_form"
  class="black-80 sans-serif"
  accept-charset="UTF-8"
  method="POST"
  role="form"
>
  <label class="{{ $.Scratch.Get `labelClasses` }}" for="name">
    {{ .Site.Params.Contact.Default.label_name }}
  </label>
  
  <input
    type="text"
    id="name"
    name="name"
    class="{{ $.Scratch.Get `inputClasses` }}"
    placeholder=" "
    aria-labelledby="name"
  />

  <label class="{{ $.Scratch.Get `labelClasses` }}" for="email">
    {{ .Site.Params.Contact.Default.label_email }}
  </label>

  <input
    type="text"
    id="email"
    name="email"
    class="{{ $.Scratch.Get `inputClasses` }}"
    placeholder=" "
    aria-labelledby="email"
  />

  <label class="{{ $.Scratch.Get `labelClasses` }}" for="message">
    {{ .Site.Params.Contact.Default.label_message }}
  </label>

  <textarea
    id="message"
    name="message"
    class="{{ $.Scratch.Get `inputClasses` }} h4"
    aria-labelledby="message"
  ></textarea>

  <input
    id="submit_button"
    class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-dark-gray bg-animate bg-black"
    type="submit"
    value="{{ .Site.Params.Contact.Default.label_button }}"
  />
</form>
<div class="{{ $.Scratch.Get `labelClasses` }}">
  <p id="form_status"></p>
</div>

{{ $form_contact_js_main := resources.Get "js/partials/form-contact/form-contact.js" | js.Build (dict "minify" true "params" (dict "formSentMessageOk" .Site.Params.Contact.Default.label_message_sent "formSentMessageError" .Site.Params.Contact.Default.label_message_error "formSendingMessage" .Site.Params.Contact.Default.label_message_sending "formValidationErrorMessage" .Site.Params.Contact.Default.label_message_validation_error)) | fingerprint }}
<script type=module src="{{ $form_contact_js_main.RelPermalink }}"></script>
