<header class="bg-white black-80 tc pv4 avenir">
  <a href="/" class="">
    {{ with resources.Get .Site.Params.Header.logo_file }}
      <img
        src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
        class="br-100 h4 w4 dib ba b--black-05 pa2"
      />
    {{ end }}
  </a>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">
    {{ cond (ne .Page.Section "") (.GetPage .Page.Section).Title
    .Site.Params.Header.Default.description }}
  </h2>
  <nav class="bt bb tc mw8 center mt4">
    <a
      class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph3-l"
      href="/"
      >{{ .Site.Params.Header.Default.to_beginning }}</a
    >
    {{ range .Site.Sections }}
    <a
      class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph3-l"
      href="{{ .Permalink }}"
      >{{ .Title }}</a
    >
    {{ end }} {{ with .GetPage "about.md" }}
    <a
      class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph3-l"
      href="{{ .Permalink }}"
      >{{ .Title }}</a
    >
    {{ end }}
  </nav>
</header>
